@import "_normalize.css"
@import "_highlightjs.css"
@import nib
@import "_variables"
@import "_jeet"

// global-reset()

// debug()

$jeet = {
  gutter: 3,
  max-width: 1080px,
  layout-direction: LTR,
  parent-first: false
}


breakpoint = 800px
color-background = #fff
color-font = #4a4a4a
main-color = #2196F3
second-color = #FF5722
sub-color = #fff
grey-color = #9e9e9e
grey-base = #eee

color-logo = "images/shounen_log_color.png"
uncolor-logo = "images/shounen_log_uncolor.png"

a
  text-decoration: none
  color: main-color
  border-bottom: 2px solid transparent

a:visited
  color: main-color

a:hover
  color: second-color
  background-color: alpha(second-color,0.2)
  // text-decoration: underline;
  border-bottom: 2px solid second-color

.content-main
article p
  color: color-font

#site-header
#site-footer
.content-main
.entry
  center()

html
  padding 0
  margin 0
  height 100%
  overflow-y: scroll;


body
  font-size 18px
  padding 0
  position: relative
  padding-bottom: 6rem
  margin 0
  min-height 100%
  width: 100%
  min-width: 800px
  box-sizing: border-box

  background-color color-background

#title-wrapper
  width: 300px
  float left
#main-nav
  float right
  text-align: right;
  a
    display: inline-block;
    vertical-align: bottom;
    line-height: 75px
    font-size: 120%
    padding: 0 2em
    color: color-font
    @media screen and (max-width: breakpoint)
      padding: 0
  a:hover
    color: second-color




#site-footer
  position absolute
  bottom 0
  right 0
  left 0
  padding 1rem
  color: color-font
  font-size: 90%
  line-height: 1.5

#site-header
  padding-top: 1em

#site-header
#body-wrapper
  padding-left: 1rem
  padding-right: 1rem

#site-header h1
  margin-top: 0
  text-indent: -9999em
  overflow: hidden

  background-image: url(color-logo)
  background-repeat: no-repeat;
  background-size: contain;

  display: block;
  height:75px

.entry-header-wrap
  // padding-bottom 3em
  // border-top solid 2px grey-base
  // background-color: grey-base
  color: main-color

.entry-header h1
  margin: 0
  margin-bottom: 0.5em
  font-weight: 400

.list-entry
  margin: 1em 0


.list-entry-title
  padding-left: .5em
  font-size: 200%
  max-width: 10em
  white-space nowrap
  display: inline-block;

#paginator
  text-align: center;
  font-size: 120%
  margin-top: 2em

#paginator a
  color color-font

#paginator .space
  padding: 0 1em

#paginator .page-number
#paginator .extend
  padding: 0 0.5em

#paginator .current
  color: main-color
  background-color: alpha(main-color,0.2)

#paginator a:hover
  color: second-color
  background-color: alpha(second-color,0.2)

.entry-meta
  line-height: 150%

.article-category-link
.article-tag-link
  white-space: nowrap;

.entry-toc
  min-height 1em
  @media screen and (max-width: breakpoint)
    unmove()
    stack()
  .toc
    font-size: 80%


.entry-toc ol
  padding-left: 0

.entry-toc li
  list-style-type: none
  padding: 0.5em 0 0.5em 1em

.entry-main
  column(4/5)
  move(-1/5)
  @media screen and (max-width: breakpoint)
    unmove()
    stack()
  line-height: 1.75
  padding-top: 1em
  text-align: justify
  text-justify: inter-word
  font-size: 110%

.entry-aside
  column(1/5)
  move(4/5)

img
  max-width 100%
  max-height 100%
  display: block
  margin 0 auto


.highlight .gutter .line
  border-right: solid 1px grey-color
  padding: 0 1ex
  margin-right: 1ex
  text-align: center;
  color grey-color

.entry-footer
  padding-top: 2em

.entry-nav
  font-size: 90%
  column(1/3)
  display: block
  min-height: 1em
  a
    display: block
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    box-sizing: border-box
    color: color-font


.entry-nav.prev
  text-align: left
.entry-nav.next
  text-align: right
.entry-nav.mid
  text-align: center


.entry-aside
  @media screen and (max-width: breakpoint)
    unmove()
    stack()
    padding-top: 1em
  padding-top:5.5em
  h2
    font-weight: normal;
    font-size: inherit
    border-left: 2px solid main-color
    background-color: alpha(main-color,0.2)
    line-height: 150%
