<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8" />
    <%
    var title = page.title;
    if (is_archive()){
      title = '存档';
      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = '分类' + ': ' + page.category;
    } else if (is_tag()){
      title = ('标签') + ': ' + page.tag;
    }
    %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <%- css('css/style') %>
</head>
